.primary-bg-color {
    background-color: #b68c5a;
}
.primary-text-color {
    color: #414040;
}
.hide {
    display: none;
}
/* banner section css styles */
.banner-sec {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("./images/banner.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* practice section css styles */
.practice-sec .row .col-md-6:hover {
    transition: 0.2s;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.1),
        rgb(255, 255, 255, 0.8)
    );
}

/* slider section css styles */
.slider-wrapper .slider-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("./images/slider-1.jpg");
}
.slider-wrapper .slider-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("./images/slider-2.jpg");
}
.slider-wrapper .slider-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("./images/slider-3.jpg");
}
.slider-wrapper .slider-1,
.slider-wrapper .slider-2,
.slider-wrapper .slider-3 {
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/*---------------------------------------
    Responsive design for medium devices
-----------------------------------------*/
@media only screen and (max-width: 991px) {
    /* practice section styles */
    .practice-sec .row .col-md-6:nth-of-type(2n + 1) {
        border: none !important;
        border-right: 1px solid rgba(0, 0, 0, 0.2) !important;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
    }
    .practice-sec .row .col-md-6:nth-of-type(2n) {
        border: none !important;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
    }
    .practice-sec .row .col-md-6:nth-of-type(5),
    .practice-sec .row .col-md-6:nth-of-type(6) {
        border-bottom: none !important;
    }
}
/*---------------------------------------
    Responsive design for small devices
-----------------------------------------*/
@media only screen and (max-width: 767px) {
    /* practice section styles */
    .practice-sec .row .col-md-6:nth-of-type(2n + 1) {
        border-right: none !important;
    }
    .practice-sec .row .col-md-6:nth-of-type(5) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
    }
}
